pkgbase = subvars
	pkgdesc = PingMe is a CLI tool which provides the ability to send messages or alerts to multiple messaging platforms & email
	pkgver = ${PKGVER}
	pkgrel = ${PKGREL}
	url = https://pingme.lmno.pk
	arch = i686
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	source = pingme-${PKGVER}.tar.gz::https://github.com/kha7iq/pingme/archive/v{PKGVER}.tar.gz

pkgname = pingme
